/*_____________________ Imports */

/*Animations*/
@import "animations/menue";
@import "animations/animation";
@import "layout/_reset";


/*Common styles */
body {
  background: $rose;
}
.text_indent{
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}


/*Header*/
header.menu{
  top:0;
  z-index:2;
  position: relative;
  nav{
    ul{
      overflow: hidden;
      background-color: #ffdbdb;
      position: absolute;
      right:0;
      left:0;
      height:100vh;
      padding-left:2rem;
      padding-top:7rem;
      margin-bottom:0;

      @include translate3d (-100%,0,0);
      @include transition (transform,0.4s);
      @include smooth_transition;
    }
    ul.show {
      @include translate3d (0, 0, 0);
      @include transition (transform,0.8s);
      @include smooth_transition;
    }

    li{
      margin-left:3rem;
      h2{
        text-transform: uppercase;
        font-family:sans-serif;
      }
    }
  }
}

.back {
  position: absolute;
  top:0;
  right: 0;
  padding:0;
}
button.return{
  @extend .text_indent;
  height:100vh;
  background-color:$rose;
  @include transition (all,0.3s);
  @include smooth_transition;
  width:100%;

}
button.return:hover{
  background-color: darken($rose,5) ;
}
.button_menu{
  @extend .text_indent;
  background-image: url(../images/interface/Menu_button.svg);
  -webkit-background-size:contain;
  background-size:contain;
  width:1.4rem;
  height:1.4rem;
  margin:1rem;

}
.click{
  background-image: url(../images/interface/Menu_button_close.svg);
}






/*H1*/
.eshot{
  position: fixed;
  top:0;
  right:0;
  background-image: url(../images/interface/e_sot_logo.png);
  width: 51px;
  height: 18px;
  -webkit-background-size:cover;
  background-size:cover;
  @extend .text_indent;
}


/*----------------------Showcase*/
/*Menu*/
header.nav_bar{
  margin:0;
  padding:0;
  nav{
    margin:0;
    ul{
      padding-bottom:1.5rem;
      margin:0;
      background-color: #fcf2f3;
      li {
        padding: 0;
        margin: 0;

        a {
          color: #fff;
          img {
            position: absolute;
            top: 0;
            display: block;
            z-index: 1;
            width: 100%;
            opacity: 0;
            @include transition(all, 0.3s);
            @include translate3d (0, -50%, 0);
          }
          h3 {
            position: relative;
            z-index: 2;
            text-align: center;
          }
        }
      }
    }
    a:hover, a.bg_fleche{
      color: #fff;
      img{
        opacity:1;
        @include translate3d (0,0,0);
      }
    }
  }
}
/*Gallery*/
section.gallery{
  margin-top:3rem;
  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      padding:2rem;
      img{
        width:15rem;
        height:auto;
        border:white solid 2rem;
        -webkit-box-shadow: inset 0 0 0 10px #ffdbdb;
        -moz-box-shadow: inset 0 0 0 10px #ffdbdb;
        box-shadow: inset 0 0 0 100px #ffdbdb;
        @include transition(all,0.3s);
        }
        }
      }
}


/*----------------------Consulting*/
/*Consutling*/
section.consulting{



  p{
    background-color: #fff;
    text-align: center;
    z-index:3;
    border:none;
  }
  a {
    color: #fff;
    img {
      position: absolute;
      top: 0;
      display: block;
      z-index: 1;
      width: 100%;
    }
    h3 {
      position: relative;
      z-index: 2;
      text-align: center;
    }
  }
  li,a,ul{
    padding:0;
  }
}
.info_bloc{
  padding-top:3rem;
  padding-bottom:3rem;
  z-index:2;
  background-color: #fff;
}
h6{
  text-align: center;
  font-size:1.5rem;
}
article{
  margin-bottom:3rem;
}



/*What we do*/
.fixe{
  position: absolute;
  top:0;
}


section.slider{
  z-index:-1;
  height: 100vh;
  max-height: 100%;
  width:100vw;
  max-width: 100%;
  img{
    max-width: 100%;
    height: auto;
  }
}

section>header>p:first-of-type{
  z-index:3;
  background-color: #fff;
  padding:2rem;
  color: #000;
  margin-bottom:2rem;
  text-align: center;
}

.unslider-nav{
  position: absolute;
  top:40%;
  right:0;
  vertical-align: top;
}

section.first{
  header{
    ul{
      li.col-lg-4{
        margin-top:3rem;
        img{
          margin-bottom:1.9rem;
        }
      }
      h4{
        text-align: center;
      }
      p{
        text-align: center;
      }
    }
  }
  main{
    margin-top:7rem;
  }
}


section.common{
  padding-top:8rem;
  padding-bottom:4rem;
  header{
    ul{
      li.col-lg-4{
        margin-top:3rem;
        img{
          margin-bottom:1.9rem;
        }
      }
      h4{
        text-align: left;
      }
      p{
        text-align: left;
      }
    }
  }
  main{
    margin-top:7rem;
  }
}
.blue_bg{
  background-color: $bleuc;
}
.rose_bg{
  background-color: $rose;
}
.pad{
  padding-top: 100vh;
}




.map{
  z-index:-3;
  position: absolute;
  top:0;
  left:0;
}

#map{
  height: 100vh;
  max-height: 100%;
  width:100vw;
  max-width: 100%;
}


.left-align{
  text-align: left !important;
}
footer{
  background-color: #d1e4ee;
  padding-top: 3rem;

  address {
    ul {
      li {
        display: inline-flex;

        img {
          width: 1.5rem;
          height: 1.5rem;

        }
      }
    }
  }
}



