/*_____________________ Imports */
/*Animations*/
/*H3 animations to the bottom */
.origine, header h3.center, header img.fleche {
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0); }

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4rem 6.8rem 0 6.8rem; }

.position_h3, header h3.center, header img.fleche {
  position: absolute;
  top: -5vw;
  left: 50%;
  width: 24%;
  display: block;
  animation: scroll_down 3s; }

@keyframes scroll_down {
  0% {
    top: -20vw; }
  100% {
    top: -5vw; } }
header {
  position: relative; }
  header h3.center {
    z-index: 2;
    border-radius: 0.2rem;
    text-align: center;
    padding: 0.5rem;
    color: #fff; }
  header img.fleche {
    z-index: 1; }

/*slides*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes moveInFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes moveOutToLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); } }
@keyframes moveOutToLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); } }
@-webkit-keyframes moveInFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes moveInFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes moveOutToRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%); } }
@keyframes moveOutToRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%); } }
.sceneElement, .unslider-active {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.is-exiting .sceneElement {
  transition-timing-function: ease-out; }

#main[data-transition=fade] .sceneElement {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

#main[data-transition=fade] .is-exiting .sceneElement {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

#main[data-transition=moveleft] .sceneElement {
  -webkit-animation-name: moveInFromLeft;
  animation-name: moveInFromLeft; }

#main[data-transition=moveleft].is-exiting .sceneElement {
  -webkit-animation-name: moveOutToRight;
  animation-name: moveOutToRight; }

#main[data-transition=moveright] .sceneElement {
  -webkit-animation-name: moveInFromRight;
  animation-name: moveInFromRight; }

#main[data-transition=moveright].is-exiting .sceneElement {
  -webkit-animation-name: moveOutToLeft;
  animation-name: moveOutToLeft; }

li {
  list-style: none; }

button:focus {
  outline: none; }

button {
  background-color: inherit;
  border: none; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: #000; }

footer {
  position: relative; }

ul {
  padding: 0; }

footer p {
  margin: 0; }

/*Import fonts*/
.off, .font_slide, .subtitle {
  position: absolute;
  top: 15vw;
  left: 40vw;
  z-index: 99;
  color: #ff8f8f; }

.subtitle {
  top: 20vw; }

/*Common styles */
body {
  background: #ffdbdb; }

.text_indent, button.return, .button_menu, .eshot, .eshot_footer {
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden; }

/*Header*/
header.menu {
  top: 0;
  z-index: 99;
  position: fixed; }
  header.menu nav ul {
    overflow: hidden;
    background-color: #ffdbdb;
    position: absolute;
    right: 0;
    left: 0;
    height: 100vh;
    padding-left: 2rem;
    padding-top: 7rem;
    margin-bottom: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  header.menu nav ul.show {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  header.menu nav li {
    margin-left: 3rem; }
    header.menu nav li h2 {
      text-transform: uppercase;
      font-family: sans-serif; }

.back {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0; }

button.return {
  height: 100vh;
  background-color: #ffdbdb;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  width: 100%; }

button.return:hover {
  background-color: #ffc2c2; }

.button_menu {
  background-image: url(../images/interface/Menu_button.svg);
  -webkit-background-size: contain;
  background-size: contain;
  width: 1.4rem;
  height: 1.4rem;
  margin: 1rem; }

.click {
  background-image: url(../images/interface/Menu_button_close.svg); }

/*H1*/
.eshot, .eshot_footer {
  position: fixed;
  top: 0;
  right: 2rem;
  background-image: url(../images/interface/Logo.svg);
  width: 6rem;
  height: 6rem;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1rem; }

.eshot_footer {
  position: absolute;
  left: 0; }

/*----------------------Showcase*/
/*Menu*/
header.nav_bar {
  margin: 0;
  padding: 0; }
  header.nav_bar nav {
    margin: 0; }
    header.nav_bar nav ul {
      padding-bottom: 1.5rem;
      margin: 0;
      background-color: #fcf2f3; }
      header.nav_bar nav ul li {
        padding: 0;
        margin: 0; }
        header.nav_bar nav ul li a {
          color: #fff; }
          header.nav_bar nav ul li a img {
            position: absolute;
            top: 0;
            display: block;
            z-index: 1;
            width: 100%;
            opacity: 0;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            -webkit-transform: translate3d(0, -50%, 0);
            -moz-transform: translate3d(0, -50%, 0);
            -ms-transform: translate3d(0, -50%, 0);
            -o-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0); }
          header.nav_bar nav ul li a h3 {
            position: relative;
            z-index: 2;
            text-align: center; }
    header.nav_bar nav a:hover, header.nav_bar nav a.bg_fleche {
      color: #fff; }
      header.nav_bar nav a:hover img, header.nav_bar nav a.bg_fleche img {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }

/*Gallery*/
section.gallery {
  margin-top: 3rem; }
  section.gallery ul {
    display: flex;
    flex-wrap: wrap; }
    section.gallery ul li {
      padding: 2rem; }
      section.gallery ul li img {
        position: relative;
        z-index: 2;
        width: 15rem;
        height: auto;
        padding: 2rem;
        -webkit-box-shadow: inset 0 0 1rem 1px #ffc2c2;
        -moz-box-shadow: inset 0 0 1rem 1px #ffc2c2;
        box-shadow: inset 0 0 1rem 1px #ffc2c2;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      section.gallery ul li img:hover {
        -webkit-box-shadow: inset 0 0 0 3rem #ffa8a8;
        -moz-box-shadow: inset 0 0 0 3rem #ffa8a8;
        box-shadow: inset 0 0 0 3rem #ffa8a8; }

/*----------------------Consulting*/
/*Consutling*/
section.consulting p {
  background-color: #fff;
  text-align: center;
  z-index: 3;
  border: none; }
section.consulting a {
  color: #fff; }
  section.consulting a img {
    position: absolute;
    top: 0;
    display: block;
    z-index: 1;
    width: 100%; }
  section.consulting a h3 {
    position: relative;
    z-index: 2;
    text-align: center; }
section.consulting li, section.consulting a, section.consulting ul {
  padding: 0; }

.info_bloc {
  padding-top: 3rem;
  padding-bottom: 3rem;
  z-index: 2;
  background-color: #fff; }

h6 {
  text-align: center;
  font-size: 1.5rem; }

article {
  margin-bottom: 3rem; }

/*What we do*/
.fixe {
  position: absolute;
  top: 0; }

.illustr {
  width: 17rem;
  height: 15rem; }

.illustr + h4, .illustr + h4 + p {
  padding-left: 3rem;
  padding-right: 3rem; }

section.slider {
  z-index: -1;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%; }
  section.slider img {
    max-width: 100%;
    height: auto; }

section > header > p:first-of-type {
  z-index: 3;
  background-color: #fff;
  padding: 2rem;
  color: #000;
  margin-bottom: 2rem;
  text-align: center; }

.unslider-nav {
  position: absolute;
  top: 40%;
  right: 0;
  vertical-align: top; }

section.first header ul li.col-lg-4 {
  margin-top: 3rem; }
  section.first header ul li.col-lg-4 img {
    margin-bottom: 1.9rem; }
section.first header ul h4 {
  text-align: center; }
section.first header ul p {
  text-align: center; }
section.first main {
  margin-top: 7rem; }

section.common {
  padding-top: 8rem;
  padding-bottom: 4rem; }
  section.common header ul li.col-lg-4 {
    margin-top: 3rem; }
    section.common header ul li.col-lg-4 img {
      margin-bottom: 1.9rem; }
  section.common header ul h4 {
    text-align: left; }
  section.common header ul p {
    text-align: left; }
  section.common main {
    margin-top: 7rem; }

.blue_bg {
  background-color: #ebf3f8; }

.rose_bg {
  background-color: #ffdbdb; }

.pad {
  padding-top: 100vh; }

.map, .impressum, .agb {
  z-index: -3;
  position: absolute;
  top: 0;
  left: 0; }

.impressum, .agb {
  background-image: url(../images/bg/about/about_bg_2.jpg);
  width: 100vw;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover; }

.agb {
  background-image: url(../images/bg/about/about_bg_3.jpg); }

#map {
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%; }

.left-align {
  text-align: left !important; }

footer {
  background-color: #d1e4ee;
  padding-top: 4rem; }
  footer address ul li {
    display: inline-flex; }
    footer address ul li img {
      width: 1.5rem;
      height: 1.5rem; }

.map_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw; }

.pic {
  width: 40%; }

.pics {
  margin-left: 7rem;
  margin-right: 7rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem; }

.over_slide {
  position: absolute;
  top: 13vw;
  left: 49%;
  width: 34%; }
  .over_slide ul {
    margin-bottom: 0; }

.over_impressum {
  position: absolute;
  top: 13vw;
  left: 25%;
  width: 44%; }
  .over_impressum ul {
    margin-bottom: 0; }

.over_agb {
  position: absolute;
  top: 18vw;
  left: 32%;
  width: 30%; }
  .over_agb ul {
    margin-bottom: 0; }

.navbar-fixed-top {
  z-index: 99; }

ul.job_list {
  margin-top: 2rem;
  padding-left: 4rem; }
  ul.job_list li {
    display: inline-flex;
    align-items: center;
    justify-content: center; }
    ul.job_list li button.job {
      margin: 1rem;
      text-align: center;
      padding: 0.7rem;
      border-radius: 0.1rem;
      -webkit-box-shadow: inset 0px 0px 0px 3px #4f72aa;
      -moz-box-shadow: inset 0px 0px 0px 3px #4f72aa;
      box-shadow: inset 0px 0px 0px 3px #4f72aa;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      -ms-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
    ul.job_list li button.job:hover, ul.job_list li button.selected {
      color: #fff;
      -webkit-box-shadow: inset 0px 0px 0px 50px #4f72aa;
      -moz-box-shadow: inset 0px 0px 0px 50px #4f72aa;
      box-shadow: inset 0px 0px 0px 50px #4f72aa; }
    ul.job_list li a.mailto {
      text-transform: uppercase;
      color: #000, !important;
      position: relative; }
    ul.job_list li a.mailto:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 2px;
      height: 10px;
      background-color: black; }

article.job_description {
  background-color: #fff;
  padding: 2rem;
  margin-bottom: 5rem; }
  article.job_description ul {
    margin-left: 6%; }

/*# sourceMappingURL=style.css.map */
